$width: 400px;

.AddStudent {
  form {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  margin-bottom: 30px;
  width: 200px;

  input {
    width: calc($width - 10px);
  }

  input[type=submit] {
    width: $width;
  }
}