.Students {

}

.StyledButton {
  background-color: var(--background2);
  color: var(--background);
  padding: 10px;
  border-radius: 5px;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-family: inherit;
}