.Student {
  margin: 10px 0;
  display: grid;
  gap: 10px;
  grid-template-columns: 370px auto;
}

.--delete {
  color: var(--color3);
  transition: color 0.5s ease;
  
  button {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, display 0.5s ease-in-out;
  }
}

.StyledButton {
  background-color: var(--background2);
  color: var(--background);
  padding: 10px;
  border-radius: 5px;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-family: inherit;
}
